html, body { height: 100%; }

body {
    display: table;
    font-family: 'Lato';
    font-weight: 100;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.content {
    display: inline-block;
    text-align: center;
}

.title { font-size: 96px; }